.cabecera{
    background-color: yellow; 
    color: green;
    border-radius: 15px;
}
.pie{
    background-color: #ccffcc; 
}
.contenedor{
    height: 300px;
    width: 80%;
    background-color: blue;
    border-radius: 15px;
}

table{
    width: 600px;
}


